<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	   	<title>SGARRH</title>
	  	
			<!--Import Google Icon Font -->
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!-- 		      Import materialize.css -->
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
<!-- 		      Let browser know website is optimized for mobile -->
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
	
		      
		      <script>
		         $(document).ready(function() {
		            $('select').material_select();
		         });
		         
		         
		         
		         
		         $('.datepicker').pickadate({
		        	    selectMonths: true, // Creates a dropdown to control month
		        	    selectYears: 15 // Creates a dropdown of 15 years to control year
		        	  });
		         
		       
		         
		      </script>
		      
		   
		      
		      
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Registro de Persona:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaPersonas" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Personas</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
	<th:block th:include="mensajeValidacion"></th:block>
	<div class="container formPersona">
	
	<form name ="fPerson" method="post" th:object="${persona}" class = "col s12">
	
				 <div class="file-field input-field">
			      <div class="btn">
			        <span>Imagen</span>
			        <input type="file">
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate" type="text" name="imagen">
			      </div>
			    </div>
	
	
		Nombre: <input type="text" value="" name="nombre"/>
		Apellido:<input type="text" value="" name="apellido"/> 
		
		Tipo de doc.:
			<select id="tipoDocumento" th:field="*{tipoDocumento.id}" class="browser-default" >
			 
			<option th:each="tipoDocumento : ${tipoDocumentos}" 
					th:value="${tipoDocumento.id}" 
					th:text="${tipoDocumento.descripcion}"></option>
	
				</select>
		Documento: <input type="text" value="" name="documento"/> <!-- Documento -->
				
		Ciudad.:
			<select id="ciudad" th:field="*{ciudad.id}" class="browser-default" >
			 
			<option th:each="ciudad : ${ciudades}" 
					th:value="${ciudad.id}" 
					th:text="${ciudad.descripcion}"></option>
	
				</select>
		Fecha de nacimiento:   <input type="date"  value=""  name="fechaNacimiento">
		
		
		
		
<!-- 		<input  type="date" value="" name="fec_nacimiento"/> -->
	    
	    Nacionalidad:
			<select id="nacionalidad" th:field="*{nacionalidad.id}" class="browser-default" >
			 
			<option th:each="nacionalidad : ${nacionalidades}" 
					th:value="${nacionalidad.id}" 
					th:text="${nacionalidad.descripcion}"></option>
	
				</select>
		Domicilio: <input type="text" value="" name="domicilio"/>
		Estado civil:
				<select  id="estadoCivil" class="browser-default" name="estadoCivil" >
					<option value="" >Seleccione una opción</option>
					<option value="SOLTERO">Soltero/a</option>
					<option value="CASADO">Casado/a</option>
					<option value="DIVORCIADO">Divorciado/a</option>
					<option value="VIUDO">Viudo/a</option>
				</select> 
		Sexo:
			<p>
				<label> <input name="sexo" value="MASCULINO" type="radio"  checked/> <span>Masculino</span>
				</label>
			</p>
			<p>
				<label> <input name="sexo" value="FEMENINO" type="radio"  /> <span>Femenino</span>
				</label>
			</p>
		Teléfono: <input type="text" value="" name="telefono"/>
		Email: <input type="text" value="" name="email"/>
		Observación: <input type="text" value="" name="observacion"/>	
		Estado:
			<p>
				<label> <input name="estado" value="ACTIVO" type="radio"  checked/> <span>Activo</span>
				</label>
			</p>
			<p>
				<label> <input name="estado" value="INACTIVO" type="radio"  /> <span>Inactivo</span>
				</label>
			</p>
<!-- 		Imagen: <input type="image" value="" name="imagen"/>	byte[] -->
		 
		<button class="waves-effect waves-light btn" type="submit">Guardar</button>
	
	</form>	
			
	</div>	
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>

	  </body>
	  
	  <footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>

</html>