<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>

   <div>
		<img th:attr="src=@{/images/softtek.png}" src="../public/images/softtek.png" class="logo" title="Softtek InnovationsLab" alt="Logo InnovationsLab" />
    </div>
    <p class="thick title">Listado de personas <span th:text="${persona}"></span>!</p>

	<table class="tabla-detalle">
	   <tr th:each="persona : ${personas}">
				<td><span th:text="${persona.id}"></span></td>
				<td><span th:text="${persona.nombre}"></span></td>
				<td><span th:text="${persona.apellido}"></span></td>
				<td><span th:text="${persona.documento}"></span></td>
				<td><span th:text="${persona.domicilio}"></span></td>
				<td><span th:text="${persona.email}"></span></td>
				<td><span th:text="${persona.estado}"></span></td>
	</tr>
    </table>	
	
	
	<!-- Pie -->
	<div id="footer" class="tabla-pie">	
		<b>&copy; 2018 Softtek</b>
	</div>


	
</body>
</html>
