<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	  	<title>SGARRH</title>
	  	
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
	
		      
		      <script>
		         $(document).ready(function() {
		            $('select').material_select();
		         });
		         
		         
		         
		         
		         $('.datepicker').pickadate({
		        	    selectMonths: true, // Creates a dropdown to control month
		        	    selectYears: 15 // Creates a dropdown of 15 years to control year
		        	  });
		         
		       
		         
		      </script>
			  
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Registro de Descuento:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaDescuentos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Descuentos</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
		
		<th:block th:include="mensajeValidacion"></th:block>
	
	<div class="container formDescuento">
	
	
 	<div class="row"> 
		<form name ="f" method="post" th:object="${descuento}" class = "col s12">
			Descripcion: <input type="text" value="" name="descripcion"/>
			Monto: <input type="number" value=null name="monto"/>
			Fecha:   <input type="date"  value=""  name="fecha">
					
		  <div class="row">
				
		 Periodo:
			<select id="periodo" th:field="*{periodo.id}" class="browser-default" >
			 
			<option th:each="periodo : ${periodos}" 
					th:value="${periodo.id}" 
					th:text="${periodo.descripcion}"></option>
	
				</select>
				
		Tipo de Descuento:
			<select id="tipoDescuento" th:field="*{tipoDescuento.id}" class="browser-default" >
			 
			<option th:each="tipoDescuento : ${tipoDescuentos}" 
					th:value="${tipoDescuento.id}" 
					th:text="${tipoDescuento.descripcion}"></option>
	
				</select>
	
		
			Persona:
			<select id="persona" th:field="*{persona.id}" class="browser-default" >
			 
			<option th:each="persona : ${personas}" 
					th:value="${persona.id}" 
					th:text="${persona.nombre}+' '+${persona.apellido}"></option>
	
			</select>
			
			Estado:
			<input type="text"  value="ACTIVO" readonly name="estado"/>
		
			Observacion: <input type="text" value="" name="observacion"/>
			
		</div>
		
 		<button class="waves-effect waves-light btn" type="submit">Guardar</button> 
		</form>
	 			
	</div>	
	
	</div>	
	
		
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>

	  </body>
	  

	  <footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>

</html>