<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	  	<title>SGARRH</title>
	  	
			<!--Import Google Icon Font -->
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
	
		      
		      <script>
		         $(document).ready(function() {
		            $('select').material_select();
		         });
		      </script>
			  
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Registro de Contrato:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaContratos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Contratos</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
		
		<th:block th:include="mensajeValidacion"></th:block>
	
	<div class="container formContrato">
	
	
 	<div class="row"> 
		<form name ="fcontrato" method="post" th:object="${contrato}" class = "col s12">
			Descripcion: <input type="text" value="" name="descripcion"/>
			
		  <div class="row">
			Salario:
			<select id="salario" th:field="*{salario.id}" class="browser-default" >
			 
			<option th:each="salario : ${salarios}" 
					th:value="${salario.id}" 
					th:text="${salario.descripcion}+' - '+${salario.monto}"></option>
	
				</select>
		Persona:
			<select id="persona" th:field="*{persona.id}" class="browser-default" >
			 
			<option th:each="persona : ${personas}" 
					th:value="${persona.id}" 
					th:text="${persona.nombre}+' '+${persona.apellido}"></option>
	
			</select>
		
		Cargo:
			<select id="cargo" th:field="*{cargo.id}" class="browser-default" >
			 
			<option th:each="cargo : ${cargos}" 
					th:value="${cargo.id}" 
					th:text="${cargo.descripcion}"></option>
	
		   </select>
			
	    Fecha de Ingreso:   <input type="date"  value=""  name="fechaIngreso">
	    Fecha de Salida:   <input type="date"  value=""  name="fechaSalida">
	    
				
		</div>
		
 		<button class="waves-effect waves-light btn" type="submit">Guardar</button> 
		</form>
	 			
	</div>	
	
	</div>	
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>
	  </body>
	  <footer>
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>

</html>