<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	  	<title>SGARRH</title>
	  	
			<!--Import Google Icon Font-->
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <!--Import materialize.css-->
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
		      <!--Let browser know website is optimized for mobile-->
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
			  
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Detalle de Cargo:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaCargos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Cargos</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
	
	<div class="container formCargo">
		<th:block th:include="mensajeValidacion"></th:block>
	
	<form class="container" method="post">
	

		<input type="text" th:value="${cargo.descripcion}" th:name="descripcion" th:id="id" />
		
		 <div class="row">
		
			 Departamento:
			<select id="departamento" th:field="*{cargo.departamento.id}" class="browser-default" >
			 
			<option th:each="departamento : ${departamentos}" 
					th:value="${departamento.id}" 
					th:text="${departamento.descripcion}"></option>
	
				</select> 
		
		</div>
		

		
		<button class="waves-effect waves-light btn" name="action" value="guardar" type="submit">Guardar</button>
	
	</form>	

			
	</div>		
	
	
	<div class="container formFuncion">
	
		<form method="post" th:object="${cargoDetalle}" class = "col s12">

 Funcion:
			<select id="funcion" th:field="*{funcion.id}" class="browser-default" >
			 
			<option th:each="funcion: ${funciones}" 
					th:value="${funcion.id}" 
					th:text="${funcion.descripcion}"></option>
				</select>
				

		 <button class="waves-effect waves-light btn" name="action" value ="agregar" type="submit">agregar</button>
		</form>
		</div>

	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Función</th>
				<th>descripción</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			 <tr th:each="cargoDetalle : ${cargoDetalles}">
				<td><span th:text="${cargoDetalle.funcion.id}"></span></td>
				<td><span th:text="${cargoDetalle.funcion.descripcion}"></span></td>
 				<td><a class="waves-effect waves-light btn-small" th:attr="onclick='return confirm(\'' + '¿eliminar el registro?' + '\');'"  th:href="${(#mvc.url('CC#eliminarDetalleCargo').arg(0, cargoDetalle.id)).build()}"><i class="material-icons left">delete</i></a></td> 
			</tr> 
		</tbody>
	</table>
	
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>

	  </body>
		
		<footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>
</html>