<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	  	<title>SGARRH</title>
	  	
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
	
		      
		      <script>
		         $(document).ready(function() {
		            $('select').material_select();
		         });
		      </script>
			  
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Registro de Cargo:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaCargos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Cargos</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
		
		<th:block th:include="mensajeValidacion"></th:block>
	
	<div class="container formCargo">
	
	
 	<div class="row"> 
		<form name ="f" method="post" th:object="${cargo}" class = "col s12">
			Descripcion: <input type="text" value="" name="descripcion"/>
<!-- 			Departamento: <input type="number" value="" name="departamento.id" placeholder="departamento"/> -->
			
<!-- 			 <input type="number" value="" name="funcion.id" placeholder="funcion"/> -->
		  <div class="row">
			Departamento:
			<select id="departamento" th:field="*{departamento.id}" class="browser-default" >
			 
			<option th:each="departamento : ${departamentos}" 
					th:value="${departamento.id}" 
					th:text="${departamento.descripcion}"></option>
				</select>
		</div>
		
 		<button class="waves-effect waves-light btn" type="submit">Guardar</button> 
		</form>
	 			
	</div>	
	
	</div>	
	<div class="container formCargo">
	 <div class="row">
			<h5>Detalles de cargo:</h5>
			Funcion:
			<select id="funcion" th:field="*{funciones}" class="browser-default" >
			 
			<option th:each="funcion : ${funciones}" 
					th:value="${funcion.id}" 
					th:text="${funcion.descripcion}"></option>
				</select>
				<button class="waves-effect waves-light btn" type="submit">Agregar</button>
		</div>

</div>
	<div class="container formDetalleCargo">

		<th:block th:include="mensajeValidacion"></th:block>

		<form class="container" method="post" th:object="${funcion}">

			<div class="row">

							<!-- Concepto:
							<select id="funcion" th:field="*{funcion.id}" class="browser-default" > 
							<option th:each="funcion : ${funciones}" 
									th:value="${funcion.id}" 
									th:text="${funcion.descripcion}"></option>
							</select>
 -->
<!-- 				<input type="hidden" th:value="${haber.id}" th:name="haber" -->
<!-- 					th:id="id"  /> -->

				<!-- 			Monto Parcial: <input type="number" th:value="${haberDetalle.montoParcial}" th:name="montoParcial" th:id="id"/> -->


			</div>
			</form>
			</div>
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>

	  </body>
	  

	  <footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>

</html>