<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>SGARRHH</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Lista de Funciones</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/registrarFuncion" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Registrar Funcion</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	<table class="container">
		<thead>
			<tr>
				<th>ID</th>
				<th>Descripcion</th>
				
			</tr>
		</thead>
		<tbody>
		 <tr th:each="funcion : ${funciones}">
				<td><span th:text="${funcion.id}"></span></td>
				<td><a th:href="${(#mvc.url('FC#detalleFuncion').arg(0, funcion.id)).build()}"><span th:text="${funcion.descripcion}"></span></a></td>
		</tr>
		</tbody>
	
	</table>
		        
			
              
                  
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>
	
		<footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>

</html>