<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  
	  	<title>SGARRH</title>
	  	
			<!--Import Google Icon Font-->
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <!--Import materialize.css-->
		      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		
		      <!--Let browser know website is optimized for mobile-->
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		      <link rel="stylesheet" href="style/styleCss.css"/>
			   
		      <script>
		         $(document).ready(function() {
		            $('select').material_select();
		         });
		      </script>
	  </head>
	  
	  <body>
	  
		<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Registro de Liquidacion:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaLiquidaciones" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Liquidaciones</a></li>
		      </ul>
		    </div>
		</nav>
		</header>
	
	<div th:each="liquidacion : ${liquidacion}" class="container detalleLiquidacion">
			<h5>Detalle de Liquidacion</h5>
				<div class="row">
					<p>ID: <span th:text="${liquidacion.id}"></span></p>
					<p>Persona: <span th:text="${liquidacion.persona.nombre}+' '+${liquidacion.persona.apellido}"></span></p>
					<p>Fecha: <span th:text="${#dates.format(liquidacion.fecha,'dd-MM-yyyy')}"></span></p>
					<p>Monto: <span th:text="${liquidacion.monto}"></span></p>
					<p>Observacion: <span  th:text="${liquidacion.observacion}"></span></p>
				</div>
		</div>
	

	<div class="container formDetalleLiquidacion">
	
	<th:block th:include="mensajeValidacion"></th:block>


	<div class="container formLiquidacionDetalle">
		<form method="post" th:object="${concepto}" class = "col s12" >
	
			 <div class="row">
			
<!-- 				Concepto: -->
<!-- 				<select id="concepto" th:field="*{concepto.id}" class="browser-default" >  -->
<!-- 				<option th:each="concepto : ${conceptos}"  -->
<!-- 						th:value="${concepto.id}"  -->
<!-- 						th:text="${concepto.descripcion}"></option> -->
<!-- 				</select> -->
				
				
			
				<input type="hidden" th:value="${liquidacion.id}" th:name="liquidacion" th:id="id" disabled="true"/>
					
				Monto Parcial: <input type="number"  value=0 th:name="montoParcial" th:id="id"/>
				
			
			</div>
		
		
			<button class="waves-effect waves-light btn" type="submit">Agregar</button>
		
		</form>	
	</div>
	
		
	</div>	
	
	
	<table class="container tabelaDetalleLiquidacion">
		<thead>
			<tr>
				<th>Concepto</th>
				<th>Monto Parcial</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="liquidacionDetalle : ${liquidacionDetalle}">
				<td><span th:text="${liquidacionDetalle.concepto.descripcion}"></span></td>
				<td><span th:text="${liquidacionDetalle.montoParcial}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('LC#eliminarLiquidacionDetalle').arg(0, liquidacionDetalle.id)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	
	
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script type="text/javascript" src="js/materialize.min.js"></script>

	  </body>
		
		<footer>
		
			<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Volver al Menu</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Menu</a></li>
		      </ul>
		    </div>
		</nav>
		</footer>
</html>