<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>SGARRHH</title>
	 
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection, print"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
   
  
</head>
<body>
	<!-- Dropdown Structure -->
	<ul id="comun" class="dropdown-content">
	  <li><a href="/listaCiudades">Ciudad</a></li>
	  <li><a href="/listaNacionalidades">Nacionalidad</a></li>
	  <li class="divider"></li>
	   <li><a href="/listaRubros">Rubro</a></li>
	  <li><a href="/listaConceptos">Concepto</a></li>
	   <li><a href="/listaTipoDocumentos">Tipo de Documento</a></li>
	  <li><a href="/listaTipoBonificaciones">Tipo de Bonificacion</a></li>
	  <li><a href="/listaTipoDescuentos">Tipo de Descuento</a></li>
	   <li><a href="/listaTipoAusencias">Tipo de Ausencias</a></li>
	    <li><a href="/listaTipoLiquidaciones">Tipo de Liquidaciones</a></li>
	   
	  
	</ul>
	
	<!-- Dropdown Structure -->
	<ul id="gestion" class="dropdown-content">
	  <li><a href="/listaBonificaciones">Bonificacion</a></li>
	  <li><a href="/listaDescuentos">Descuentos</a></li>
	  <li><a href="/listaAusencias">Ausencias</a></li>
	  <li><a href="/listaLiquidaciones">Liquidaciones</a></li>
	  
	  
	  
	</ul>
	
	<!-- Dropdown Structure -->
	<ul id="registro" class="dropdown-content">
	  <li><a href="/listaUsuarios">Usuario</a></li>
	  <li><a href="/listaPersonas">Persona</a></li>
	  <li><a href="/listaFunciones">Funcion</a></li>
	  <li><a href="/listaDepartamentos">Departamento</a></li>
	  <li><a href="/listaCargos">Cargo</a></li>
	  <li><a href="/listaSalarios">Salario</a></li>
	  <li><a href="/listaContratos">Contrato</a></li>
	   <li><a href="/listaPeriodos">Periodos</a></li>
	 
	</ul>
	
	<!-- Dropdown Structure -->
	<ul id="informes" class="dropdown-content">
	  <li><a href="#!">INFORMES1</a></li>
	
	</ul>
	
	
	
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!"  class="brand-logo">Menu</a>
	    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    <ul class="right hide-on-med-and-down">
	      <li><a class="dropdown-trigger" href="#!" data-target="comun">Comunes<i class="material-icons right">arrow_drop_down</i></a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="registro">Registros<i class="material-icons right">arrow_drop_down</i></a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="gestion">Gestiones<i class="material-icons right">arrow_drop_down</i></a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="informes">Informes<i class="material-icons right">arrow_drop_down</i></a></li>
	     
	      <li><a href="/logout">Salir</a></li>
	      <!-- Dropdown Trigger -->
	    </ul>
	  </div>
	</nav>
	
	 <ul class="sidenav" id="mobile-demo">
	    <li><a class="dropdown-trigger" href="#!" data-target="comunmob">Comunes<i class="material-icons right">arrow_drop_down</i></a></li>
	    <li><a class="dropdown-trigger" href="#!" data-target="registromob">Registros<i class="material-icons right">arrow_drop_down</i></a></li>
	   <li><a class="dropdown-trigger" href="#!" data-target="gestionmob">Gestiones<i class="material-icons right">arrow_drop_down</i></a></li>
	    <li><a class="dropdown-trigger" href="#!" data-target="informesmob">Informes<i class="material-icons right">arrow_drop_down</i></a></li>
	      <li><a href="/logout">Salir</a></li>
	    
	 </ul>
	
	<ul id="comunmob" class="dropdown-content">
	  <li><a href="/listaCiudades">Ciudad</a></li>
	  <li><a href="/listaNacionalidades">Nacionalidad</a></li>
	  <li class="divider"></li>
	   <li><a href="/listaRubros">Rubro</a></li>
	  <li><a href="/listaConceptos">Concepto</a></li>
	   <li><a href="/listaTipoDocumentos">Tipo de Documentos</a></li>
	  <li><a href="/listaTipoBonificaciones">Tipo de Bonificaciones</a></li>
	 <li><a href="/listaTipoDescuentos">Tipo de Descuentos</a></li>
	    <li><a href="/listaTipoAusencias">Tipo de Ausencias</a></li>
	  	    <li><a href="/listaTipoLiquidaciones">Tipo de Liquidaciones</a></li>
	  
	</ul>
		
	 <ul id="registromob" class="dropdown-content">
	   <li><a href="/listaUsuarios">Usuario</a></li>
	  <li><a href="/listaPersonas">Persona</a></li>
	  <li><a href="/listaFunciones">Funcion</a></li>
	  <li><a href="/listaDepartamentos">Departamento</a></li>
	  <li><a href="/listaCargos">Cargo</a></li>
	  <li><a href="/listaSalarios">Salario</a></li>
	  <li><a href="/listaContratos">Contrato</a></li>
		  
	</ul>
			
				<!-- Dropdown Structure -->
	<ul id="gestionmob" class="dropdown-content">
	  <li><a href="/listaBonificaciones">Bonificaciones</a></li>
	  <li><a href="/listaBonificaciones">Ausencias</a></li>
	  
	  
	</ul>
	
	<!-- Dropdown Structure -->
	<ul id="informesmob" class="dropdown-content">
	  <li><a href="#!">INFORMES1</a></li>
	
	</ul>
			
			
<!-- 		<nav class="menu"> -->
		    
<!-- 		    <div class="nav-wrapper"> -->
<!-- 		      <a href="#" class="brand-logo">Menu</a> -->
		      
<!-- 		        <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/logout" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Salir</a></li> -->
<!-- 		      </ul> -->
		      
		      
<!-- 		       <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaUsuarios" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Usuario</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		       <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaCiudades" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Ciudad</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaFunciones" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Funcion</a></li> -->
<!-- 		      </ul> -->
		    
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaDepartamentos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Departamento</a></li> -->
<!-- 		      </ul> -->
		      
		    
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaCargos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cargo</a></li> -->
<!-- 		      </ul> -->
		      
		     
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaSalarios" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Salario</a></li> -->
<!-- 		      </ul> -->
		      
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaRubros" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Rubro</a></li> -->
<!-- 		      </ul> -->
		      
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaPersonas" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Persona</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaTipoDocumentos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>TipoDocumento</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaNacionalidades" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Nacionalidad</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaCiudades" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Ciudad</a></li> -->
<!-- 		      </ul> -->
		      
		      
<!-- 		       <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaBonificaciones" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Bonificacion</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		       <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaTipoBonificaciones" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Tipo de Bonificacion</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaContratos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Contrato</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaConceptos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Concepto</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		       <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaLiquidaciones" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Liquidacion</a></li> -->
<!-- 		      </ul> -->
		      
<!-- 		      <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
<!-- 		        <li><a href="/listaHaberes" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Haber</a></li> -->
<!-- 		      </ul> -->
<!-- 		    </div> -->
		    
<!-- 		</nav> -->
	 


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

	 <script>
    	  $(document).ready(function(){
		    	  $(".dropdown-trigger").dropdown();
		    	  $(".dropdown-button").dropdown();
		    	   // $(".button-collapse").sideNav();
		    	  $('.collapsible').collapsible();
		    	  $('.sidenav').sidenav();
		    	  $('select').material_select()
    	  
      });
      
      </script>

</body>


</html>